$AdminNavBBG: rgb(65, 101, 131);
$AdminASideBG: rgb(134, 134, 134);
$AdminBgCard: rgb(233, 233, 233);
$AdminBgLightCard: rgb(241, 241, 241);
//
.adminWrapper {
  // min-height: calc(100vh - 3rem);
  min-height: 100vh;
  background-color: rgb(212, 212, 212);
  &__login {
    margin: auto;
    height: calc(100vh - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__panel {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    // background-color: blue;
  }
}
//  NAVBAR
.adminNavBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  inset: 0 0 auto 0;
  height: 3rem;
  padding: 0.5rem;
  z-index: 10;
  background-color: $AdminNavBBG;
  //
  & button {
    color: white;
    background-color: $AdminNavBBG;
  }
}
.adminASide {
  position: relative;
  align-items: center;
  inset: 0 auto auto 0;
  min-height: 100vh;
  padding: 0 0 1rem 0;
  color: white;
  min-width: 11rem;
  max-width: 14rem;
  // width: min-content;
  // z-index: 11;
  overflow: hidden;
  background-color: $AdminASideBG;
  // header
  & .adminASideHeader {
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: $AdminNavBBG;
  }
  // Button
  & .ASideButton {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    color: white !important;
    cursor: pointer;
    margin: 0.2rem 0;
    padding: 0.5rem 1rem;
    transition: 0.1s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //
    &:hover {
      z-index: 90;
      background-color: $AdminASideBG;
      text-decoration: none;
      box-shadow: 0 0 5px white;
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
      box-shadow: 0 0 5px rgb(201, 201, 201);
    }
  }
  // Selected Button
  & .activeASideButton {
    box-shadow: 0 0 5px rgb(201, 201, 201);
  }
}
// === Global Admin Variables
.adminScrollList {
  margin: 1rem 0;
  position: relative;
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  gap: 1rem;
  overflow-x: scroll;
  background-color: $AdminBgCard;
  box-shadow: 0 0 5px grey;
}
.adminFormSection {
  margin: 1rem 0;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  background-color: $AdminBgLightCard;
  box-shadow: 0 0 5px grey;
}
.adminRegCard {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: $AdminBgLightCard;
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
}
.adminModalForm {
  padding: 1rem;
  background-color: white;
}
// === Menu Button
.adminMenuButton {
  position: absolute;
  inset: auto auto 1rem -0.4rem;
  padding: 2rem;
  background-color: $AdminNavBBG;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px grey;
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 999;
}
// === Admin Portfolio
.portfolioForm {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: $AdminBgCard;
  border-radius: 20px;
}
.aPortfolioCard {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0.5rem 0.5rem;
  min-width: 18rem;
  overflow: hidden;
  align-items: center;
  background-color: white !important;
  border-radius: 20px;
  box-shadow: 0 0 5px grey;
}
// === Activity
.adminActivityItem {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 0 5px grey;
  background-color: white !important;
  min-width: 20rem !important;
  padding: 0.5rem;
}
