.homeWrapper {
  position: relative;
  height: calc(100vh - 1px);
  background-color: rgb(77, 77, 77);
}
.homeWrapper .react-parallax {
  display: flex;
}
.homeWrapper .react-parallax-content {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 0.5em;
}
.homeLeftColumn {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  color: black !important;
  padding: 1rem 3rem;
  //
  & .homeNavigationBtn {
    color: black;
    cursor: pointer;
    transition: 0.2s;
    //
    &:hover {
      text-decoration: none;
      font-weight: bold;
      text-shadow: 0 0 9px black;
    }
  }
}
.homeRightColumn {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  border-radius: 20px;
  color: black !important;
  width: 90%;
  height: 50%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  //
  &::-webkit-scrollbar {
    display: none;
  }
  //
  & .activityHeader {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 0.2rem 0;
    text-align: center;
    position: sticky;
    box-shadow: 0 0 5px grey;
    z-index: 10;
    top: 0;
  }
  //
  & .homeActivityItem {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    box-shadow: 0 0 5px grey;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1rem;
  }
}
