.homeWrapper {
  position: relative;
  height: calc(100vh - 1px);
  background-color: rgb(77, 77, 77);
}
.homeWrapper .react-parallax {
  display: flex;
}
.homeWrapper .react-parallax-content {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 0.5em;
}
.homeLeftColumn {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  color: black !important;
  padding: 1rem;
  //
  & .homeNavigationBtn {
    color: black;
    cursor: pointer;
    transition: 0.2s;
    //
    &:hover {
      text-decoration: none;
      font-weight: bold;
      text-shadow: 0 0 9px black;
    }
  }
}
.homeRightColumn {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  color: black !important;
  padding: 1rem;
  width: 90%;
  height: 50%;
  //
  & .homeNavigationBtn {
    color: black;
    cursor: pointer;
    transition: 0.2s;
    //
    &:hover {
      text-decoration: none;
      font-weight: bold;
      text-shadow: 0 0 9px black;
    }
  }
}
