$navBarBg: rgba(26, 26, 26, 0.8);
$mobileNavBarBg: #2f4250;
//
.navBarWrap {
  height: 3em;
  width: 100%;
  background-color: transparent;
  position: fixed;
  padding: 0 1%;
  transition: 0.2s;
  z-index: 999;
}
.navBarBg {
  background-color: $navBarBg;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.473);
}
.navBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
.navBtns {
  color: rgb(228, 228, 228);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.02);
    text-shadow: 0 0 5px white;
  }
  &:active {
    transform: scale(1);
    text-shadow: 0 0 5px rgb(199, 199, 199);
  }
}
/* =================================== MOBILE MENU */
.mobileMenu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: 50vh;
  gap: 2rem;
  background-color: rgb(105, 105, 105) !important;
  font-size: 1.5rem;
}
.mobileMenuClose {
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
}
.mobileMenuLogo {
  height: 65px;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: $mobileNavBarBg;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  //
  & button {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    color: white !important;
  }
}
// LOGO
.logo {
  position: relative;
  cursor: pointer;
  & img {
    transition: 0.2s ease-in-out;
    //
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

.logo-flip {
  position: absolute;
  width: 65px;
  height: 65px;
  perspective: 500px;
  //
  &__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  //
  &:hover {
    & .logo-flip__inner {
      transform: rotateY(180deg);
      transition: transform 0.5s;
    }
  }
}
.logo-flip-front,
.logo-flip-back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
}
.logo-flip-back {
  transform: rotateY(180deg);
}
// =============== >< =================
