.greetingWrapper {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: 2s linear greeting forwards ;
}

@keyframes greeting {
  0% {
    background-color: white;
  }
  80% {
    background-color: black;
    color: white;
    opacity: 1;
  }
  81% {
    color: white;
    background-color: red;
  }
  100% {
    color: white;
    background-color: red;
  }
}
