.navBarWrap {
  height: 5em;
  width: 100%;
  background-color: transparent;
  position: fixed;
  padding: 0 6em;
  transition: 0.2s;
}
.navBarBg {
  background-color: rgb(168, 179, 179);
}
.navBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
.navBtns {
  color: rgb(228, 228, 228);
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s;
}
.navBtns:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.02);
  text-shadow: 0 0 5px white;
}
.navBtns:active {
  transform: scale(1);
  text-shadow: 0 0 5px rgb(199, 199, 199);
}
