.memeContainer {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  // overflow-x: scroll;
  // overflow: hidden;
  // margin-top: auto;
}
.memeItem {
  height: 100%;
  position: relative;
  transition: 0.1s;
  cursor: pointer;
  &:hover {
    z-index: 100;
    transform: scale(2);
  }
}
.memeWrapper1 {
  position: relative;
  height: 100%;
  // width: auto;
  display: flex;
  animation: 12s linear infinitSpin infinite;
  // animation-delay: 0s;
}
.memeWrapper2 {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate3d(100vw, 0, 0);
  display: flex;
  animation: 12s linear infinitSpin infinite;
  animation-delay: 4s;
}
.memeWrapper3 {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate3d(100%, 0, 0);
  display: flex;
  animation: 12s linear infinitSpin infinite;
  animation-delay: 8s;
}
.memeWrapper4 {
  position: absolute;
  height: 100%;
  // right: -100%;
  display: flex;
  animation: 13s linear infinitSpin infinite;
  animation-delay: 15s;
}
