.aboutWrapper {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 2em;
  color: white;
  overflow: hidden;
}
.parallax-inner {
  height: 100%;
  width: 100%;
}
.greeting-span {
  font-size: 1.5rem;
  transition: 0.2s;
  position: relative;
  border-bottom: 1px solid transparent;
  animation: 3s ease-in-out infinite highlightSupport;
  //
  &:hover {
    background-color: rgb(255, 245, 108);
    cursor: pointer;
    color: black;
    //
    &::after {
      content: "";
      position: absolute;
      inset: auto -2.8rem 1.7rem auto;
      width: 5rem;
      height: 5rem;
      background: url("obiWan.png");
      background-size: cover;
    }
  }
}
.downloadCV {
  color: rgb(121, 209, 212);
  transition: 0.2s;
  font-size: 1.4rem;
  //
  &:hover {
    font-weight: bold;
    text-decoration: none;
    color: rgb(72, 229, 235);
    text-shadow: 0 0 3px white;
  }
}
// Animation
@keyframes highlightSupport {
  0% {
    border-color: white;
  }
  20% {
    border-color: rgb(255, 123, 123);
  }
  40% {
    border-color: rgb(255, 255, 149);
  }
  60% {
    border-color: rgb(112, 186, 255);
  }
  80% {
    border-color: rgb(112, 255, 112);
  }
  100% {
    border-color: white;
  }
}
