body {
  margin: 0;
  font-family: "Courier New";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.active {
  color: white !important;
  text-shadow: 0 0 1px white;
  font-weight: bold;
}
.activeNoBg {
  color: black !important;
  text-shadow: 0 0 1px white;
  font-weight: bold;
}
.sectionWrapper {
  height: calc(100vh - 3em);
  /* padding-top: 4.5em; */
}
