body {
  margin: 0;
  font-family: "Courier New";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.active {
  color: white !important;
  text-shadow: 0 0 1px white;
  font-weight: bold;
}
.activeNoBg {
  color: black !important;
  text-shadow: 0 0 1px white;
  font-weight: bold;
}
.sectionWrapper {
  min-height: calc(100vh - 3em);
  display: flex;
  flex-direction: column;
}
.nextSectionTab {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3rem;
  //
  & button {
    background-color: rgba(255, 255, 255, 0.1);
    //
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}
